@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600,700);

html {
	overflow-x: hidden;
	overflow-y: scroll;
}

body {
	background: #fff;
	color: #888;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-top: 88px;
}

header {
	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	z-index: 1;
	background: #fff;
}

h1 {
	font-size: 300%;
}

p {
	font-size: 17px;
}

a {
	color: #2bb6e5;
}

a:hover {
	text-decoration: none;
	color: #5175a5;
}

.active {
	color: #fff;
	background: #5175a5;
}

.container {
	width: 100%;
	max-width: 1170px;
	padding: 0;
}

.navbar {
	padding: 10px 20px;	
	border-bottom: 1px solid #ececec;
	background: #fff;
}

	.navbar-soundfall .navbar-brand,
	.navbar-soundfall .navbar-brand a,
	.navbar-soundfall .navbar-brand a:hover,
	.navbar-soundfall .navbar-brand a:active {
		color: #666;
		font-size: 36px;
		text-transform: uppercase;
		font-weight: 600;
		/*background-image: url('/resource/img/soundfall.png');*/
	}
	
	.nav>li>a {
		padding: 10px 20px;
	}
		.navbar-header a img {
			width: 115px;
			padding: 9px 10px 9px 0;
			margin: 4px 15px 4px 0;	
		}

	.navbar-nav {
		margin-bottom: 0
	}
		.navbar-nav>li {
			text-align: center;
			border-right: 1px solid #ececec;	
		}
		
			.navbar-nav>li:last-child {
				border:none;	
			}
			
				.navbar-default .navbar-nav>li>a {
					color: #adadad;
					text-align: center;
					width: 100%;
				}
			
				.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
					color: #fff;
					background-color: #5175a5;	
				}				
	
	.navbar-collapse {
		padding: 0;
	}

.form-control {
	-webkit-appearance: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

ul.social-links {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin: 0 0 0 8.5px;
	padding: 0;
}

	li.third_party {
		width: 33%;
		display: inline-block;
	    list-style: none;
	    float: left;
	    padding: 0 0 5px 0;
	    margin-right: -5px;
	}
	
		li.third_party a {
   			display: inline-block;    
   		 	font-size: 10px;
			width: 100%;
    		text-align: center;
    		text-decoration: none;
    		color: #333;
    		text-shadow: 0px 0px 3px #fff;
		}

			li.third_party a img {
				width: 100%;
				max-width: 128px;
				height: auto;
				background: #ddd;
			}
			
			.facebook:hover {
				background: #3b5998;
			}
			
			.twitter:hover {
				background: #55acee;
			}
			
			.google:hover {
				background: #dd4b39;
			}
			
			.openid:hover {
				background: #f48f25;	
			}
			
			.yahoo:hover {
				background: #720e9e;
			}
			
			.aol:hover {
				background: #00c4ff;
			}
			
			.live:hover {
				background: #00bcf2;
			}
			
			.lastfm:hover {
				background: #c3000d;
			}
			
			.tumblr:hover {
				background: #34526f;
			}

.col-md-6 {
	display: inline-block;
}

.page-header {
	border: none;
	margin: 0;
	padding: 0;
}

.input-group, .form-group {
	margin-bottom: 5px;
	width: 100%;	
}

.checkbox {
	display: inline-block;
	text-align: left;
	font-size: 15px;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

	.checkbox label {
		font-size: 15px;
		font-weight: 300;
		margin-right: 5px;
		display: inline-block;
	}

.forgot-msg {
	text-align: left;
	font-size: 15px;
	font-weight: 300;
	margin-top: -5px;	
}

input.openid {
    background: #fff url(../img/auth_icons/openid-icon.png) no-repeat left center;
    border: 1px solid #999;
    padding: 6px 6px 6px 36px;
    font-size: 16px;
}

#recaptcha_area { margin-bottom: 10px }

/* Modal */

.modal-dialog {
	width: 85%;
	max-width: 1030px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: table;
}

.modal-content {
	max-width: 934px;	
	margin: auto;
}

.modal-header {
	border: none;
	padding-bottom: 0;
}

.modal-body {
	width: 100%;
	display: inline-block;
	padding: 15px;
}

/* Account Styles */

.accountPicSelect {
	margin: 5px 0 5px 5px;
}

.accountPicSelect p {
	margin: 10px 0 0 15px;
}

.accountPicSelect input[type="radio"] {
	margin: 0 10px 0 0;
}

.dropdown-menu {
	box-shadow: none;
}

.navbar-nav>li> a {
	background-color: transparent;
	display: inline-block;
}

.btn-submit{
	background: #2bb6e5;
	color: #FFF;
	padding: 10px 30px;
}

	.btn-submit i {
		padding-right: 5px;
		top: 2.5px;	
	}
	
/* Music listing */
#waves{
	background: repeat-x;
	background-image: url('/resource/img/wave.png');
	height: 209px;
}

.title-red{
	color: #FF5F55;
	text-emphasis: accent;
	margin-top: 0;
	text-transform:uppercase;
	font-weight:400;
}

.stats-box{
	text-align: center;
}

.stats-number{
	color: #3B8A6F;
	font-weight: 600;
	font-size:35px;
}

.stats-desc{
	text-transform:lowercase;

}

.navbar-tiny{
	
}

#avatar{
	
}

#song-listing{
	background-color: #E3F2F2;
}

.song-list{
	background-color: #E3F2F2;
	margin-bottom: 0.5em;
	display: inline-block;
	width: 100%;
}

.song-list h4{
	color:#3D8A6E;
}

.play-cong{
	
}

.song-tags{
	background-repeat: repeat-x;
	/*background-image: url('/resource/img/tag_inactive.png');*/
	
}

.play-button{
	color: white;
	background-color: #71AA63;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	text-align: center;
	
}

#yoursound{
	/*background-image: url('../img/yoursound_bg.png');*/
}

.tags {
color: #FF786F;
background-color: white;
box-shadow: 1px 2px 3px #d3d3d3;
border-radius: 20px;
padding-left: 20px;
padding-right: 20px;
line-height: 2.5;
}

.footer {
	padding: 20px;
	width: 100%;
	font-weight: 400;
}


/* Media queries */

@media (min-width:768px) and (max-width:1199px){
	
	.modal-content .col-md-6 {
		float: right;
		padding: 0;
	}
	
	.modal-content .checkbox {
		float: left;
	}

	ul.social-links {
		margin: 0;
	}
	
	li.third_party {
		width: 11.1%;
		margin: 0;
		padding-left: 5px;
	}
	
	.forgot-msg {
		margin-top: -25px;	
		float: left;
		width: 100%;
	}
}

@media (max-width:768px){
	.modal-content .col-md-6, .col-lg-6 {
		text-align: center;
		width: 100%;
		float: none;
		padding: 0;
	}
	
	.modal-dialog {
		width: 98%;
	}
	
	.modal-content h1 {
		font-size: 200%;	
	}
	
	.modal-content p {
		font-size: 15px;	
	}
			
	.modal-content .btn-submit {
		width: 100%;
		margin-bottom: 1px;
		float: none;
	}
	
	.modal-content .checkbox {
		width: 100%;
		text-align: left;
	}
	
		.modal-content .checkbox input {
			margin-top: 2px;	
		}
}

@media (max-width:640px) {
	ul.social-links {
		margin: 0;
	}
	
	li.third_party {
		width: 33%;
		margin: 0;
		padding-left: 5px;
	}
	
	li.third_party:nth-child(n+4){
		display: none;
	}
}
