<IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteBase /

        # Removes index.php from URLs
        RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
        RewriteCond %{REQUEST_URI} !/system/.* [NC]
        RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]

        # Directs all web requests through the site index file
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^(.*)$ /index.php/$1 [L]
        #exceptions to the redirecs
        RewriteCond $1 !^(index\.php|resource|people\.txt|robots\.txt|favicon\.ico|deploy\.php|blog)
</IfModule>
