html {
	overflow-y: scroll; /* always show scrollbar */
}

body {
	color: #888888;
	font-family: Neutra2Text-Light;
	
	
}


@font-face{
	font-family: Neutra2Text-Bold;
	src:url('../font/Neutra2Text-Bold.otf');
	font-weight: bold;
}
@font-face{
	font-family: Neutra2Text-BoldItalic;
	src:url('../font/Neutra2Text-BoldItalic.otf');
}
@font-face{
	font-family: Neutra2Text-Book;
	src:url('../font/Neutra2Text-Book.otf');
}
@font-face{
	font-family: Neutra2Text-BookItalic;
	src:url('../font/Neutra2Text-BookItalic.otf');
}
@font-face{
	font-family: Neutra2Text-Demi;
	src:url('../font/Neutra2Text-Demi.otf');
}
@font-face{
	font-family: Neutra2Text-DemiItalic;
	src:url('../font/Neutra2Text-DemiItalic.otf');
}
@font-face{
	font-family: Neutra2Text-Light;
	src:url('../font/Neutra2Text-Light.otf');
}

@font-face{
	font-family: Neutra2Text-Bold;
	src:url('../font/Neutra2Text-LightItalic.otf');
}

a {
	color: #888;
	
}

a:active, a:hover {
	color: #888;
	font-family: Neutra2Text-Demi-Italic;
	font-weight: bold;
	
}

.navbar-soundfall .navbar-brand,
.navbar-soundfall .navbar-brand a,
.navbar-soundfall .navbar-brand a:hover,
.navbar-soundfall .navbar-brand a:active {
	color: #000;
	font-size: 36px;
	text-transform: capitalize;
	/*font-weight: bold;*/
	font-family: Neutra2Text-Demi;
}

li.third_party {
    list-style: none;
    width: 76px;
    height: 76px;
    float: left;
    padding: 0 5px 5px 0;
}
li.third_party a {
    display: block;
    width: 76px;
    height: 76px;
    font-size: 10px;
	/*font-family: Neutra2Text-Bold;*/
    text-align: center;
    text-decoration: none;
    color: #333;
    text-shadow: 0px 0px 3px #fff;
}

input.openid {
    background: #fff url(../img/auth_icons/openid-icon.png) no-repeat left center;
    border: 1px solid #999;
    padding: 6px 6px 6px 36px;
    font-size: 16px;
}

#recaptcha_area { margin-bottom: 10px }

::selection {
    background-color: #E13300;
    color: white;
}
::moz-selection {
    background-color: #E13300;
    color: white;
}
::webkit-selection {
    background-color: #E13300;
    color: white;
}

/* Account Styles */

.accountPicSelect {
	margin: 5px 0 5px 5px;
}

.accountPicSelect p {
	margin: 10px 0 0 15px;
}

.accountPicSelect input[type="radio"] {
	margin: 0 10px 0 0;
}

.dropdown-menu {
	box-shadow: none;
}

.navbar-nav > li > a {
	background-color: transparent;
	font-family: Neutra2Text-Light;
}

.btn-submit{
	background-color: #6796B6;
	color: #FFF;
}

/* Music listing */
#waves{
	background: repeat-x;
	background-image: url('/resource/img/wave.png');
	height: 209px;
}

.title-red{
	color: #FF5F55;
	text-emphasis: accent;
	font-family:Neutra2Text-Demi;
}

.stats-box{
	text-align: center;
}

.stats-number{
	color: #3B8A6F;
	font-family: Neutra2Text-BoldItalic;
}

.stats-desc{
	font-family: Neutra2Text-Light;
}

.navbar-tiny{
	
}

#avatar{
	background-image:url('/resource/img/yoursound_play.png');
}

#song-listing{
	background-color: #E3F2F2;
}

.song-list{
	background-color: #E3F2F2;
	margin-bottom: 0.5em;
}

.song-list h4{
	font-family: Neutra2Text-Demi;
	color:#3D8A6E;
}

.play-cong{
	
}

.song-tags{
	background-repeat: repeat-x;
	background-image: url(''/resource/img/tag_inactive.png');
	
}

.play-button{
	color: white;
	background-color: #71AA63;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	text-align: center;
	
}

#yoursound{
	background-image: url('../img/yoursound_bg.png');
}

.labellabel-success{
	font-family: Neutra2Text: Demi;
}