/*@font-face{
	font-family: Neutra2Text-Bold;
	src:url('../font/Neutra2Text-Bold.otf');
	font-weight: bold;
}
@font-face{
	font-family: Neutra2Text-BoldItalic;
	src:url('../font/Neutra2Text-BoldItalic.otf');
}
@font-face{
	font-family: Neutra2Text-Book;
	src:url('../font/Neutra2Text-Book.otf');
}
@font-face{
	font-family: Neutra2Text-BookItalic;
	src:url('../font/Neutra2Text-BookItalic.otf');
}
@font-face{
	font-family: Neutra2Text-Demi;
	src:url('../font/Neutra2Text-Demi.otf');
}
@font-face{
	font-family: Neutra2Text-DemiItalic;
	src:url('../font/Neutra2Text-DemiItalic.otf');
}
@font-face{
	font-family: Neutra2Text-Light;
	src:url('../font/Neutra2Text-Light.otf');
}

@font-face{
	font-family: Neutra2Text-Bold;
	src:url('../font/Neutra2Text-LightItalic.otf');
}*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700);

html {
	overflow-y: scroll; /* always show scrollbar */
}

body {
	background: #fff;
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 300%;
}

p {
	font-size: 17px;
}

a {
	color: #2bb6e5;
}

a:hover {
	text-decoration: none;
	color: #2bb6e5;
}

.navbar-soundfall .navbar-brand,
.navbar-soundfall .navbar-brand a,
.navbar-soundfall .navbar-brand a:hover,
.navbar-soundfall .navbar-brand a:active {
	color: #666;
	font-size: 36px;
	text-transform: uppercase;
}

.navbar-right {
	text-align: center;
}

	.navbar-right a {
		color: #666;
		text-align: center;
	}

.navbar-toggle {
	margin-right: 0;
}

	.navbar-toggle .icon-bar {
		border: 1px solid #666;
		border-radius: 0;
	}

.form-control {
	-webkit-appearance: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

ul.social-links {
	display: inline-block;
	text-align: center;
	margin: 0;
	padding: 0;
}

	li.third_party {
		width: 33%;
		display: inline-block;
	    list-style: none;
	    float: left;
	    padding: 0 0 5px 5px;
	}
	
		li.third_party a {
   			display: inline-block;    
   		 	font-size: 10px;
			width: 100%;
    		text-align: center;
    		text-decoration: none;
    		color: #333;
    		text-shadow: 0px 0px 3px #fff;
		}

			li.third_party a img {
				width: 100%;
				max-width: 128px;
				height: auto;
			}

.page-header {
	border: none;
	margin: 0;
	padding: 0;
}

.input-group {
	margin-bottom: 5px;
}

.checkbox {
	font-size: 15px;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

	.checkbox label {
		font-size: 15px;
		font-weight: 300;
		margin-right: 5px;
		display: inline-block;
	}

.forgot-msg {
	font-size: 15px;
	font-weight: 300;
	margin-top: -5px;	
}

input.openid {
    background: #fff url(../img/auth_icons/openid-icon.png) no-repeat left center;
    border: 1px solid #999;
    padding: 6px 6px 6px 36px;
    font-size: 16px;
}

#recaptcha_area { margin-bottom: 10px }

::selection {
    background-color: #E13300;
    color: white;
}
::moz-selection {
    background-color: #E13300;
    color: white;
}
::webkit-selection {
    background-color: #E13300;
    color: white;
}

/* Modal */

.modal-dialog {
	width: 85%;
	max-width: 1030px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: table;
}

.modal-content {
	max-width: 934px;	
	margin: auto;
}

.modal-header {
	border: none;
	padding-bottom: 0;
}

.modal-body {
	display: inline-block;
	padding: 15px;
}

/* Account Styles */

.accountPicSelect {
	margin: 5px 0 5px 5px;
}

.accountPicSelect p {
	margin: 10px 0 0 15px;
}

.accountPicSelect input[type="radio"] {
	margin: 0 10px 0 0;
}

.dropdown-menu {
	box-shadow: none;
}

.navbar-nav>li> a {
	background-color: transparent;
	display: inline-block;
}

.btn-submit{
	background: #2bb6e5;
	color: #FFF;
	padding: 10px 30px;
}

	.btn-submit i {
		padding-right: 5px;
		top: 2.5px;	
	}
	
/* Music listing */
#waves{
	background: repeat-x;
	background-image: url('/resource/img/wave.png');
	height: 209px;
}

.title-red{
	color: #FF5F55;
	text-emphasis: accent;
	margin-top: 0;
}

.stats-box{
	text-align: center;
}

.stats-number{
	color: #3B8A6F;
}

.stats-desc{

}

.navbar-tiny{
	
}

#avatar{
	background-image:url('/resource/img/yoursound_play.png');
}

#song-listing{
	background-color: #E3F2F2;
}

.song-list{
	background-color: #E3F2F2;
	margin-bottom: 0.5em;
}

.song-list h4{
	/*font-family: Neutra2Text-Demi;*/
	color:#3D8A6E;
}

.play-cong{
	
}

.song-tags{
	background-repeat: repeat-x;
	background-image: url(''/resource/img/tag_inactive.png);
	
}

.play-button{
	color: white;
	background-color: #71AA63;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	text-align: center;
	
}

#yoursound{
	background-image: url('../img/yoursound_bg.png');
}

.labellabel-success{
	font-family: Neutra2Text: Demi;
}
