RewriteEngine on
RewriteBase /
RewriteRule ^(.*)$ /index.php/$1 [L]
RewriteRule ^$ /index.php [L]
RewriteCond $1 !^(index\.php|resource|system|robots\.txt|favicon\.ico)

#infinite loop fix
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule .* - [L]
